.nav{
background-color: lightgrey;
justify-content:center;
padding-top: 15px;
}
.d-nav{
margin-left:0px;
width:100%;
}
.f-footer{
display:flex;
<!--justify-content:center;-->
color: #adb5bd;
height: 70px;
}
.firstlogo{
border-radius: 5px;
margin-left:5px;

}
.divimg{
height:62px;
padding-top: 4px;
}
.f-div{
display:flex;
background-color:lightgrey;
height: 70px;
}
a.nav-link.active {
    text-decoration-line: underline;
}
a.nav-link {
    color: black;
}
.left-menu{
margin-top:10px;
width:20%;
height:90%;
background-color: lightgrey;
border-radius: 15px;
}

